<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <JSONLayout eventEol="true" compact="true"/>
        </Console>
    </Appenders>
    <Loggers>
        <root level="info">
            <AppenderRef ref="STDOUT"/>
        </root>
    </Loggers>
</Configuration>